{
  "parser": "babel-eslint",
  "env": {
    "jest": true
  },
  "globals": {
    "mode": true
  },
  "rules": {
    "consistent-return": "warn",
    "no-void": "off",
    "no-confusing-arrow": "off",
    "no-new-func": "off",
    "no-restricted-syntax": "off",
    "new-parens": "warn",
    "arrow-parens": [
      "error",
      "as-needed"
    ],
    "func-names": "off",
    "curly": [
      "error",
      "multi-line"
    ],
    "max-len": [
      "error",
      {
        "ignoreComments": true,
        "ignoreStrings": true,
        "ignoreTemplateLiterals": true,
        "code": 100
      }
    ],
    "no-param-reassign": "off",
    "no-undefined": "error",
    "eqeqeq": [
      "error",
      "always"
    ],
    "no-undef-init": "error",
    "dot-notation": "error",
    "no-caller": "error",
    "no-alert": "error",
    "no-eval": "warn",
    "no-extend-native": "error",
    "no-eq-null": "error",
    "no-extra-bind": "error",
    "no-implicit-coercion": "error",
    "no-with": "error",
    "no-lone-blocks": "error",
    "no-useless-concat": "error",
    "no-sparse-arrays": "error",
    "no-empty": "warn",
    "no-use-before-define": "off",
    "max-params": [
      "error",
      4
    ],
    "complexity": [
      "warn",
      3
    ],
    "prefer-const": "error"
  }
}
